.navbar {
  background: transparent;
  padding: 0.25rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1001;
  &.dark {
    background: black;
    color: white;
  }
}

.header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.list {
  list-style: none;
  display: flex;
  justify-content: end;
  gap: 1rem;
}

.item {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 0.75rem;
  border-radius: 2px;
  transition: all 0.6s ease;
  &:hover {
    opacity: 0.5;
    transform: scale(1.05);
  }
  &:active {
    transform: scale(0.85);
    opacity: 1;
  }
  &::after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    transition: width 0.3s;
    background: red;
  }
  &:hover::after {
    width: 100%;
  }
}

.item__active {
  &::after {
    width: 100%;
    background-color: red;
  }
}
