.container {
    position: absolute;
    top: -12%;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    z-index: 1002;
    pointer-events: none;
    width: 100%;
    height: 150%;
}

@media screen and (max-width: 767px) {
    .container {
        width: 125%;
        height: 200%;
    }
}

.container canvas {
    pointer-events: none;
}