.container {
    width: 100vw;
    height: 100vh;
    background: transparent;
    position: absolute;
    top: -15%;
    z-index: 1002;
    pointer-events: none;
}

.container canvas {
    pointer-events: none;
}