.container {
    position: absolute;
    top: -20%;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    z-index: 1003;
    pointer-events: none;
    width: 100vw;
    min-width: 100vw;
    max-width: 100vw;
    height: 115vh;
}