.container {
    position: absolute;
    top: -14%;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    z-index: 1002;
    pointer-events: none;
    width: 100vw;
    min-width: 100vw;
    max-width: 100vw;
    height: 150%;
}

@media screen and (max-width: 767px) {
    .container {
        width: 100vw;
        min-width: 100vw;
        max-width: 100vw;
        height: 200%;
        left: 0;
        right: 0;
    }
}

.container canvas {
    pointer-events: none;
    width: 100% !important;
    height: 100% !important;
    display: block;
}