.container {
  width: 100vw;
  min-width: 100vw;
  max-width: 100vw;
  height: 350vh;
  overflow-x: hidden;
  position: relative;
  
  &.dark {
    background: black;
  }

  @media screen and (max-width: 767px) {
    width: 100vw;
    min-width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
  }
}

.content {
  position: relative;
  display: flex;
  padding: 3.5rem 0rem;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  height: 50vh;
  width: 100%;
  min-width: 100%;
  background: transparent;

  @media screen and (max-width: 767px) {
    width: 100%;
    min-width: 100%;
    padding: 2rem 0rem;
  }
}
