.container {
  width: 100vw;
  min-width: 100vw;
  max-width: 100vw;
  position: relative;
  &.dark {
    background: black;
  }
}

.content {
  position: relative;
  display: flex;
  padding: 2.5rem 0rem;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  height: 100vh;
  width: 100%;
  min-width: 100%;
  background: transparent;

  &:nth-child(2) {
    background: greenyellow;
  }

}
